<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../img/icon.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passier Muziek</title>
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>
<body id="home">
  <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
    <div class="container">
      <img src="../img/passier.png"  class="img-fluid" alt="" height="42px" width="165">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/verkoop" class="nav-link">Verkoop</a>
          </li>
          <li class="nav-item">
            <a href="/verhuur" class="nav-link">Verhuur</a>
          </li>
          <li class="nav-item">
            <a href="/onderhoud" class="nav-link">Onderhoud & Reparatie</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<header id="home-section4">
    <div class="bg-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    
                  </div>
                    <div class="col-lg-8">
                        <h1 class="display-4 text-light px-2 animated _1 fadeInLeftBig" data-wow-delay="1s"> <strong> Bedankt voor uw bericht!</strong> </h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 text-light pverkoop align-self-start _2 animated fadeInLeftBig mb-5" data-wow-delay="1s">
                                <!--<i class="fa fa-circle"></i>-->
Uw bericht is verzonden.
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4">
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="section-contact" class="bg-cre">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
            <h1 class="blue py-4 text-center">Contactgegevens</h1>
            <p>Wil je ons atelier bezoeken? Maak dan gerust een afspraak via ons contactformulier<br>
Of je kunt een mail sturen naar: <br>
<p class="py-3"><strong>passiermuziekemmen@gmail.com</strong></p>
Passier Muziek Emmen <br>
Ermerweg 106 <br>
7812 BH   Emmen <br>

<strong class="py-3">Geopend op afspraak!</strong></p>

      </div>
      <div class="col-lg-6">
    <h1 class="blue pt-4 text-center">Contactformulier</h1>
    <form method="POST" action="send">
      <div class="form-group">
    <label for="exampleFormControlInput1">Naam</label>
    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Uw naam">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Emailadres</label>
    <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="Uw emailadres">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Onderwerp</label>
    <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="Uw onderwerp">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Bericht</label>
    <textarea class="form-control" name="bericht" id="exampleFormControlTextarea1" rows="3" placeholder="Uw bericht hier"></textarea>
  </div>
  <div class="modal-footer">
          <button class="text-light btn btn-primary-custom m-auto" type="submit">Verstuur</button>
        </div>
</form>
  </div>
  </div>
  </div>
</section>

  <!-- EXPLORE HEAD -->
  
  <!-- MAIN FOOTER -->
<footer id="main-footer" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!--<p class="text-center p1 my-4">Contact</p>-->
        <!--  <p class="text-muted pt-4 text-center d-none d-md-block">-->
        <!--    Passier Muziek Emmen <br>-->
        <!--    Ermerweg 106<br> -->
        <!--    7812 BH <br> Emmen <br>-->
        <!--    passiermuziekemmen@gmail.com<br>-->
        <!--    <strong>Geopend op afspraak!</strong>-->


        <!--  </p>-->
        </div>
        <div class="col-md-4 ">
          <p class="text-center p1"></p>
          <div class="mt-4 m-auto text-center f1 f3">
            <!--<p class="p1 my-4">Passier muziek Emmen</p>-->
            <h1 class="h3"><img src="../img/passier.png" width="35%" height="35%" alt=""></h1>
            <p>Copyright &copy; 2018</p>
            <!--<button class="btn btn-primary-custom text-white my-2" data-toggle="modal" data-target="#contactModal">Neem contact op</button>-->
            <p class="signature"><em>Gebouwd door: <a href="https://3dwebdevelopment.com">3D Web Development</a></em></p>
          </div>
        </div>
        <!--<div class="col-md-4 text-center pt-4 d-none d-md-block">-->
          <!--<p class="text-center p1 my-4">   Links</p><br>-->
        <!--  <a href="index.html" class="text-muted mt-4">Home</a> <br>-->
        <!--  <a href="verkoop.html" class="text-muted">Verkoop</a> <br>-->
        <!--  <a href="verhuur.html" class="text-muted">Verhuur</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Reparatie</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Onderhoud</a> <br>-->
        <!--  <a href="contact.html" class="text-muted">Contact</a> -->
        <!--</div>-->
        <!--<div class="col text-center">-->
        <!--  <div class="py-4">-->
        <!--    <h1 class="h3"><img src="image/passier.png" width="15%" height="15%" alt=""></h1>-->
        <!--    <p>Copyright &copy; 2018</p>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </footer>

  <!-- CONTACT MODAL -->
  <div class="modal fade text-dark" id="contactModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalTitle">Contact Us</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
      </div>
    </div>
  </div>
    <!--Delay animation load fix-->
    <script>document.body.classList.add('js-loading');

window.addEventListener("load", showPage);

function showPage() {
  document.body.classList.remove('js-loading');
}</script>  
    
    
    <!--WOWJS-->
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
