<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../img/icon.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passier Muziek</title>
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>
<body id="home">
  <nav class="navbar navbar-expand-sm  navbar-light fixed-top">
    <div class="container">
      <img src="../img/passier.png"  class="img-fluid" alt="" height="42px" width="165">
      <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/verkoop" class="nav-link">Verkoop</a>
          </li>
          <li class="nav-item">
            <a href="/verhuur" class="nav-link">Verhuur</a>
          </li>
          <li class="nav-item">
            <a href="/onderhoud" class="nav-link">Onderhoud & Reparatie</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<header id="home-section">
    <div class="bg-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    
                  </div>
                    <div class="col-lg-12 divi">
                        <h1 class="display-4 text-light px-5 animated fadeIn" data-wow-delay="0s"> Welkom bij <strong class="animated fadeIn _1" data-wow-delay="0.50s"> Passier Muziek </strong> <p class="text-center d-inline mb-5 _2 animated fadeIn"> Emmen</p></h1>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-3 divi">
                        </div>
                        <div class="col-lg-9 divi">
                        <div class="d-flex flex-row">
                            <div class="p-4 text-light align-self-start animated fadeIn " data-wow-delay="0.70s">
                                <!--<i class="fa fa-circle"></i>-->
Passier Muziek Emmen is Toonaangevend in Noord Nederland
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 text-light align-self-start animated fadeIn _2" data-wow-delay="0.80s">
                                <!--<i class="fa fa-circle"></i>-->
Wij zijn gespecialiseerd in het repareren, onderhouden en reviseren van uw blaasinstrument. 
Ook leveren wij alle gerenomeerde merken muziekinstrumenten & accesoires. 
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 text-light align-self-start animated fadeIn _3" data-wow-delay="0.90s">
                                <!--<i class="fa fa-circle"></i>-->
Zowel nieuw als gebruikt, voor een perfect instrument ben je bij ons op het juiste adres. 
Kom gerust eens langs voor een goed en eerlijk advies op maat.
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 text-light align-self-start animated fadeIn _4" data-wow-delay="1s">
                                <!--<i class="fa fa-circle"></i>-->
                                <em>Onze kracht is onze service! </em>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

  <!-- EXPLORE HEAD -->
  
  <!-- MAIN FOOTER -->
 <footer id="main-footer" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!--<p class="text-center p1 my-4">Contact</p>-->
        <!--  <p class="text-muted pt-4 text-center d-none d-md-block">-->
        <!--    Passier Muziek Emmen <br>-->
        <!--    Ermerweg 106<br> -->
        <!--    7812 BH <br> Emmen <br>-->
        <!--    passiermuziekemmen@gmail.com<br>-->
        <!--    <strong>Geopend op afspraak!</strong>-->


        <!--  </p>-->
        </div>
        <div class="col-md-4 ">
          <p class="text-center"></p>
          <div class="mt-4 m-auto text-center f1 f3">
            <!--<p class="p1 my-4">Passier muziek Emmen</p>-->
            <h1 class="h3"><img src="../img/passier.png" width="35%" height="35%" alt=""></h1>
            <p>Copyright &copy; 2018 - <a href="/privacy">Privacy policy</a></p>
            <!--<button class="btn btn-primary-custom text-white my-2" data-toggle="modal" data-target="#contactModal">Neem contact op</button>-->
            <p class="signature"><em>Gebouwd door: <a href="https://3dwebdevelopment.com">3D Web Development</a></em></p>
          </div>
        </div>
        <!--<div class="col-md-4 text-center pt-4 d-none d-md-block">-->
          <!--<p class="text-center p1 my-4">   Links</p><br>-->
        <!--  <a href="index.html" class="text-muted mt-4">Home</a> <br>-->
        <!--  <a href="verkoop.html" class="text-muted">Verkoop</a> <br>-->
        <!--  <a href="verhuur.html" class="text-muted">Verhuur</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Reparatie</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Onderhoud</a> <br>-->
        <!--  <a href="contact.html" class="text-muted">Contact</a> -->
        <!--</div>-->
        <!--<div class="col text-center">-->
        <!--  <div class="py-4">-->
        <!--    <h1 class="h3"><img src="image/passier.png" width="15%" height="15%" alt=""></h1>-->
        <!--    <p>Copyright &copy; 2018</p>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </footer>
  
  <script>
    $("#div").fadeIn(3000)
  </script>

  <!-- CONTACT MODAL -->
  <div class="modal fade text-dark" id="contactModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalTitle">Neem contact op</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Naam</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Bericht</label>
              <textarea class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="text-light btn btn-primary-custom btn-block">Verstuur</button>
        </div>
      </div>
    </div>
  </div>

    <!--Delay animation load fix-->
<!--<script>document.body.classList.add('js-loading');-->

<!--window.addEventListener("load", showPage);-->

<!--function showPage() {-->
<!--  document.body.classList.remove('js-loading');-->
<!--}</script>  -->
    
    
    <!--WOWJS-->
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>

</body>
</html>
