<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../img/icon.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passier Muziek</title>
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>
<body id="home">
  <nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="container">
      <img src="../img/passier.png"  class="img-fluid" alt="" height="42px" width="165">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/verkoop" class="nav-link">Verkoop</a>
          </li>
          <li class="nav-item">
            <a href="/verhuur" class="nav-link">Verhuur</a>
          </li>
          <li class="nav-item">
            <a href="/onderhoud" class="nav-link">Onderhoud & Reparatie</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<header id="home-section3">
    <div class="bg-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    
                  </div>
                    <div class="col-lg-8">
                        <h1 class="display-4 text-light px-2 animated _1 fadeInLeftBig" data-wow-delay="0s"> <strong>Onderhoud</strong> en <strong> Reparatie </strong></h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 text-light pverkoop align-self-start animated _2 fadeInLeftBig" data-wow-delay="0.50s">
                                <!--<i class="fa fa-circle"></i>-->
Wij zijn gespecialiseerd in het repareren en onderhouden van uw blaasinstrument.                             </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 text-light pverkoop align-self-start animated _2 fadeInLeftBig" data-wow-delay="1s">
                                <!--<i class="fa fa-circle"></i>-->
    Neem nu een onderhoudscontract en je bent een jaar lang verzekerd van een 'goed afgesteld' instrument.
                        </div>
                    </div>
                     <div class="d-flex flex-row mb-5">
                            <div class="p-4 text-light pverkoop align-self-start animated _2 fadeInLeftBig" data-wow-delay="1s">
                                <!--<i class="fa fa-circle"></i>-->
    Voor reparaties neem je <a href="/contact"><u>contact</u></a> op via het contact formulier 
                        </div>
                    </div>
                    <div class="col-lg-4">
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="section-onderhoud" class="bg-eme">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class=" blue my-5 text-center ">Houten blaasinstrumenten</h3>
        <table class="table">
  <thead>
    <tr>
      <th scope="col" class="">Instrument</th>
      <th scope="col" class="">Prijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="light-blue-bg">Blokfluit</th>
      <td class="light-blue-bg">€55,-</td>
    </tr>
    <tr>
      <th scope="row">Piccolo</th>
      <td>€65,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Dwarsfluit</th>
      <td class="light-blue-bg">€70,-</td>
    </tr>
    <tr>
      <th scope="row">Eb Klarinet</th>
      <td>€65,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Bb Klarinet</th>
      <td class="light-blue-bg">€70,-</td>
    </tr>
    <tr>
      <th scope="row">Alt Klarinet</th>
      <td>€85,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Bas Klarinet</th>
      <td class="light-blue-bg">€95,-</td>
    </tr>
    <tr>
      <th scope="row">Sopraan saxofoon</th>
      <td>€65,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Alt saxofoon</th>
      <td class="light-blue-bg">€70,-</td>
    </tr>
    <tr>
      <th scope="row">Tenor saxofoon</th>
      <td>€75,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg" >Bariton saxofoon</th>
      <td class="light-blue-bg">€90,-</td>
    </tr>
    <tr>
      <th scope="row">Hobo</th>
      <td>€175,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Fagot</th>
      <td class="light-blue-bg">€185,-</td>
    </tr>
  </tbody>
</table>
      </div>
      <div class="col-lg-6">
        <h3 class=" blue text-center my-5 ">Koperen blaasinstrumenten</h3>
                <table class="table">
  <thead>
    <tr>
      <th scope="col" class="blue-bg ">Instrument</th>
      <th scope="col" class="blue-bg ">Prijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="light-blue-bg" >Eb Cornet</th>
      <td class="light-blue-bg">€75,-</td>
    </tr>
    <tr>
      <th scope="row" >Eb Trompet</th>
      <td>€75,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Bugel</th>
      <td class="light-blue-bg">€75,-</td>
    </tr>
    <tr>
      <th scope="row" >Trompet</th>
      <td>€75,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Hoorn</th>
      <td class="light-blue-bg">€100,-</td>
    </tr>
    <tr>
      <th scope="row" >Bariton</th>
      <td>€95,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Tenor Hoorn</th>
      <td class="light-blue-bg">€100,-</td>
    </tr>
    <tr>
      <th scope="row" >Euphonium</th>
      <td>€95,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Trombone</th>
      <td class="light-blue-bg" class="light-blue-bg">€90,-</td>
    </tr>
    <tr>
      <th scope="row" >Bas Trombone</th>
      <td>€90,-</td>
    </tr>
    <tr>
      <th scope="row" class="light-blue-bg">Bastuba</th>
      <td class="light-blue-bg">€140,-</td>
    </tr>
    <tr>
      <th scope="row" >Sousafoon</th>
      <td>€140,-</td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
    
  </div>
</section>

  <!-- EXPLORE HEAD -->
  
  <!-- MAIN FOOTER -->


 <footer id="main-footer" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!--<p class="text-center p1 my-4">Contact</p>-->
        <!--  <p class="text-muted pt-4 text-center d-none d-md-block">-->
        <!--    Passier Muziek Emmen <br>-->
        <!--    Ermerweg 106<br> -->
        <!--    7812 BH <br> Emmen <br>-->
        <!--    passiermuziekemmen@gmail.com<br>-->
        <!--    <strong>Geopend op afspraak!</strong>-->


        <!--  </p>-->
        </div>
        <div class="col-md-4 ">
          <p class="text-center p1"></p>
          <div class="mt-4 m-auto text-center f1 f3">
            <!--<p class="p1 my-4">Passier muziek Emmen</p>-->
            <h1 class="h3"><img src="../img/passier.png" width="35%" height="35%" alt=""></h1>
            <p>Copyright &copy; 2018 - <a href="/privacy">Privacy policy</a></p>
            <!--<button class="btn btn-primary-custom text-white my-2" data-toggle="modal" data-target="#contactModal">Neem contact op</button>-->
            <p class="signature"><em>Gebouwd door: <a href="https://3dwebdevelopment.com">3D Web Development</a></em></p>
          </div>
        </div>
        <!--<div class="col-md-4 text-center pt-4 d-none d-md-block">-->
          <!--<p class="text-center p1 my-4">   Links</p><br>-->
        <!--  <a href="index.html" class="text-muted mt-4">Home</a> <br>-->
        <!--  <a href="verkoop.html" class="text-muted">Verkoop</a> <br>-->
        <!--  <a href="verhuur.html" class="text-muted">Verhuur</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Reparatie</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Onderhoud</a> <br>-->
        <!--  <a href="contact.html" class="text-muted">Contact</a> -->
        <!--</div>-->
        <!--<div class="col text-center">-->
        <!--  <div class="py-4">-->
        <!--    <h1 class="h3"><img src="image/passier.png" width="15%" height="15%" alt=""></h1>-->
        <!--    <p>Copyright &copy; 2018</p>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </footer>

    <!--Delay animation load fix-->
    <script>document.body.classList.add('js-loading');

window.addEventListener("load", showPage);

function showPage() {
  document.body.classList.remove('js-loading');
}</script>  
    
    
    <!--WOWJS-->
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
    
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
