<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passier Muziek</title>
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>
<body id="home">
  <nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container-fluid">
      <img src="../img/passier.png"  class="img-fluid" alt="" height="42px" width="165">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/verkoop" class="nav-link">Verkoop</a>
          </li>
          <li class="nav-item">
            <a href="/verhuur" class="nav-link">Verhuur</a>
          </li>
          <li class="nav-item">
            <a href="/onderhoud" class="nav-link">Onderhoud & Reparatie</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<header id="home-section2">
    <div class="bg-overlay">
        <div class="home-inner">
            <div class="container-fluid">
                <div class="row">
                  <!--<div class="col-lg-4">-->
                    
                  <!--</div>-->
                    <div class="col-lg-8">
                        <h1 class="display-4 text-light px-5 d-block-none animated  _1 fadeInLeftBig" data-wow-delay="0s"> Verhuur <strong class="d-none d-md-block animated _3 fadeInLeftBig" data-wow-delay="0.50s">Blaasinstrumenten</strong></h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 text-light pverkoop align-self-start">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4">
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="section-verhuur" class="">
  <div class="container-fluid">
    <p class="pt-5 mx-5 p-verhuur">Wij hebben een groot assortiment blaasinstrumenten beschikbaar voor verhuur. 
Zowel nieuwe als gebruikte instrumenten worden aangeboden om voor een bepaalde tijd te huren. 
De huurtermijn voor nieuwe instrumenten is minimaal 1 jaar. 
Voor gebruikte instrumenten is een kortere huurtermijn mogelijk, zie onderstaande tabellen:</p>
 <div class="accordion my-5" id="accordionExample">
  <div class="card light-blue-bg1">
    <div class="card-header blue-bg1" id="headingOne">
      <h5 class="mb-0 text-light">
        <!--<button class="btn btn-link text-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">-->
          Gebruikte instrumenten  


        </button>
      </h5>
    </div>
    
    <p></p>

    <!--<div id="collapseOne" class="collapse show col-xs-12" aria-labelledby="headingOne" data-parent="#accordionExample">-->
      <div class="card-body table-responsive">
<table class="table">
  <thead>
    <tr class="blue-bg">
      <th scope="col">Netto waarde van het instrument</th>
      <th scope="col">Borg</th>
      <th scope="col">Kwartaal</th>
      <th scope="col">Halfjaar</th>
      <th scope="col">Jaar</th>
    </tr>
  </thead>
  <tbody>
    <tr class="light-blue-bg">
      <th scope="row">€0,- t/m €250,-</th>
      <td>€50,-</td>
      <td>€60,-</td>
      <td>€80,-</td>
      <td>€100,-</td>
    </tr>
    <tr>
      <th scope="row">€250,- t/m €500,-</th>
      <td>€50,-</td>
      <td>€80,-</td>
      <td>€120,-</td>
      <td>€150,-</td>
    </tr>
    <tr class="light-blue-bg">
      <th scope="row">€500,- t/m €750,-</th>
      <td>€50,-</td>
      <td>€125,-</td>
      <td>€175,-</td>
      <td>€225,-</td>
    </tr>
    <tr>
      <th scope="row">€750,- t/m €1000,-</th>
      <td>€50,-</td>
      <td>€150,-</td>
      <td>€225,-</td>
      <td>€300,-</td>
    </tr>
    <tr class="light-blue-bg">
      <th scope="row">€1000,- t/m €1250,-</th>
      <td>€50,-</td>
      <td>€250,-</td>
      <td>€325,-</td>
      <td>€400,-</td>
    </tr>
  </tbody>
</table>      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header blue-bg1" id="headingTwo">
      <h5 class="mb-0 text-light">
        <!--<button class="btn btn-link collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">-->
          Nieuwe instrumenten  
        </button>
      </h5>
    </div>
    <!--<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
      <div class="card-body light-blue-bg1">
<table class="table">
  <thead>
    <tr class="blue-bg">
      <th scope="col">Netto waarde van het instrument</th>
      <th scope="col">Borg</th>
      <th scope="col">Jaar</th>
    </tr>
  </thead>
  <tbody>
    <tr class="light-blue-bg">
      <th scope="row">€0,- t/m €250,-</th>
      <td>€50,-</td>
      <td>€100,-</td>
    </tr>
    <tr>
      <th scope="row">€250,- t/m €500,-</th>
      <td>€50,-</td>

      <td>€150,-</td>
    </tr>
    <tr class="light-blue-bg">
      <th scope="row">€500,- t/m €750,-</th>
      <td>€50,-</td>

      <td>€225,-</td>
    </tr>
    <tr>
      <th scope="row">€750,- t/m €1000,-</th>
      <td>€50,-</td>

      <td>€300,-</td>
    </tr>
    <tr class="light-blue-bg">
      <th scope="row">€1000,- t/m €1250,-</th>
      <td>€50,-</td>

      <td>€400,-</td>
    </tr>
  </tbody>
</table>      </div>
    </div>
  </div>
</div>
  </div>
</section>

  <!-- EXPLORE HEAD -->
  
  <!-- MAIN FOOTER -->
 <footer id="main-footer" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!--<p class="text-center p1 my-4">Contact</p>-->
        <!--  <p class="text-muted pt-4 text-center d-none d-md-block">-->
        <!--    Passier Muziek Emmen <br>-->
        <!--    Ermerweg 106<br> -->
        <!--    7812 BH <br> Emmen <br>-->
        <!--    passiermuziekemmen@gmail.com<br>-->
        <!--    <strong>Geopend op afspraak!</strong>-->


        <!--  </p>-->
        </div>
        <div class="col-md-4 ">
          <p class="text-center p1"></p>
          <div class="mt-4 m-auto text-center f1 f3">
            <!--<p class="p1 my-4">Passier muziek Emmen</p>-->
            <h1 class="h3"><img src="../img/passier.png" width="35%" height="35%" alt=""></h1>
            <p>Copyright &copy; 2018 - <a href="/privacy">Privacy policy</a></p>
            <!--<button class="btn btn-primary-custom text-white my-2" data-toggle="modal" data-target="#contactModal">Neem contact op</button>-->
            <p class="signature"><em>Gebouwd door: <a href="https://3dwebdevelopment.com">3D Web Development</a></em></p>
          </div>
        </div>
        <!--<div class="col-md-4 text-center pt-4 d-none d-md-block">-->
          <!--<p class="text-center p1 my-4">   Links</p><br>-->
        <!--  <a href="index.html" class="text-muted mt-4">Home</a> <br>-->
        <!--  <a href="verkoop.html" class="text-muted">Verkoop</a> <br>-->
        <!--  <a href="verhuur.html" class="text-muted">Verhuur</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Reparatie</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Onderhoud</a> <br>-->
        <!--  <a href="contact.html" class="text-muted">Contact</a> -->
        <!--</div>-->
        <!--<div class="col text-center">-->
        <!--  <div class="py-4">-->
        <!--    <h1 class="h3"><img src="image/passier.png" width="15%" height="15%" alt=""></h1>-->
        <!--    <p>Copyright &copy; 2018</p>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </footer>

  <!-- CONTACT MODAL -->
  <div class="modal fade text-dark" id="contactModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalTitle">Contact Us</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
      </div>
    </div>
  </div>

    <!--Delay animation load fix-->
    <script>document.body.classList.add('js-loading');

window.addEventListener("load", showPage);

function showPage() {
  document.body.classList.remove('js-loading');
}</script>  
    
    
    <!--WOWJS-->
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
</body>
</html>
