<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../img/icon.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passier Muziek</title>
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>
<body id="home">
  <nav class="navbar navbar-expand-md  navbar-light fixed-top">
    <div class="container">
      <img src="../img/passier.png"  class="img-fluid" alt="" height="42px" width="165">
      <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/verkoop" class="nav-link">Verkoop</a>
          </li>
          <li class="nav-item">
            <a href="/verhuur" class="nav-link">Verhuur</a>
          </li>
          <li class="nav-item">
            <a href="/onderhoud" class="nav-link">Onderhoud & Reparatie</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--<header id="home-section1">-->
<!--    <div class="bg-overlay">-->
<!--        <div class="home-inner">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-4">-->
                    
<!--                  </div>-->
<!--                    <div class="col-lg-8">-->
<!--                        <h1 class="display-4 text-light px-5"> Onze <strong> Occasions </strong></h1>-->
<!--                        <div class="d-flex flex-row">-->
<!--                            <div class="p-4 text-light pverkoop align-self-start">-->
<!--                                <i class="fa fa-circle"></i>-->
<!--Onderstaand een overzicht van onze "occasion" instrumenten-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    
                    
<!--                    <div class="col-lg-4">-->
<!--            </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->

<section id="section-verkoop" class="">
  <div class="container">
    <div class="col-md-8">
                        <div class="d-flex flex-row">
                            <div class="text-light pverkoop align-self-start mt-5">
                                              <h1 class="display-4 text-light px-5 mt-5 animated _1 fadeInLeftBig d-none d-md-block" data-wow-delay="0s"> Onze <strong> Occasions </strong></h1>

                                <p class="animated _2 fadeInLeftBig mt-5" data-wow-delay="0s">  Onderstaand een overzicht van onze "occasion" instrumenten</p>
                            </div>
                        </div>
                    </div>
    <div class="card-group py-5 bg-eme">
  <div class="card card1 m-4 card-verkoop animated _3 fadeIn" data-wow-delay="0.5s">
    <img class="card-img-top" src="../img/yas.jpeg" alt="Card image cap">
    <div class="card-body mt-auto">
      <h5 class="card-title text-muted">Altosaxofoon</h5>
      <h5 class="card-title">  Yamaha YAS-32  	</h5>
      <p class="card-text">Demo model! Zo goed als nieuw!<br> Voor meer informatie neem je contact op.</p>
      <p class="card-text text-muted">€825,-</p>
            <button class="btn btn-primary-custom text-white" ><a href="/contact" class="text-light">Neem contact op</a> </button>
    </div>
  </div>
  <div class="card card1 m-4 card-verkoop animated _4 fadeIn" data-wow-delay="1s">
    <img class="card-img-top" src="../img/swingplanck.jpeg" alt="Card image cap">
    <div class="card-body mt-auto">
      <h5 class="card-title text-muted">Altosaxofoon</h5>
      <h5 class="card-title">Swingplanck</h5>
      <p class="card-text">Een zeer goede saxofoon voor de beginnende muzikant.<br> Voor meer informatie neem je contact op.</p>
      <p class="card-text text-muted">€395,-</p>
      <button class="btn btn-primary-custom text-white" ><a href="/contact" class="text-light">Neem contact op</a> </button>
    </div>
  </div>
  <!--<div class="card card1 m-4 card-verkoop animated _5 fadeIn" data-wow-delay="1.5s">-->
  <!--  <img class="card-img-top" src="../img/markvi.jpeg" alt="Card image cap">-->
  <!--  <div class="card-body mt-auto">-->
  <!--    <h5 class="card-title text-muted">  Sopraansaxofoon  	</h5>-->
  <!--    <h5 class="card-title">  Selmer Mark VI  	</h5>-->
  <!--    <p class="card-text">  nr. 290724 1979  <br> Voor meer informatie neem je contact op. </p>-->
  <!--    <p class="card-text text-muted">€3200,-</p>-->
  <!--    <button class="btn btn-primary-custom text-white" ><a href="/contact" class="text-light">Neem contact op</a> </button>-->
  <!--  </div>-->
  <!--</div>-->
</div>
    
    </div>
  </div>
</section>

  <!-- EXPLORE HEAD -->
  
  <!-- MAIN FOOTER -->
 <footer id="main-footer" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!--<p class="text-center p1 my-4">Contact</p>-->
        <!--  <p class="text-muted pt-4 text-center d-none d-md-block">-->
        <!--    Passier Muziek Emmen <br>-->
        <!--    Ermerweg 106<br> -->
        <!--    7812 BH <br> Emmen <br>-->
        <!--    passiermuziekemmen@gmail.com<br>-->
        <!--    <strong>Geopend op afspraak!</strong>-->


        <!--  </p>-->
        </div>
        <div class="col-md-4 ">
          <p class="text-center p1"></p>
          <div class="mt-4 m-auto text-center f1 f3">
            <!--<p class="p1 my-4">Passier muziek Emmen</p>-->
            <h1 class="h3"><img src="../img/passier.png" width="35%" height="35%" alt=""></h1>
            <p>Copyright &copy; 2018 - <a href="/privacy">Privacy policy</a></p>
            <!--<button class="btn btn-primary-custom text-white my-2" data-toggle="modal" data-target="#contactModal">Neem contact op</button>-->
            <p class="signature"><em>Gebouwd door: <a href="https://3dwebdevelopment.com">3D Web Development</a></em></p>
          </div>
        </div>
        <!--<div class="col-md-4 text-center pt-4 d-none d-md-block">-->
          <!--<p class="text-center p1 my-4">   Links</p><br>-->
        <!--  <a href="index.html" class="text-muted mt-4">Home</a> <br>-->
        <!--  <a href="verkoop.html" class="text-muted">Verkoop</a> <br>-->
        <!--  <a href="verhuur.html" class="text-muted">Verhuur</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Reparatie</a> <br>-->
        <!--  <a href="onderhoud.html" class="text-muted">Onderhoud</a> <br>-->
        <!--  <a href="contact.html" class="text-muted">Contact</a> -->
        <!--</div>-->
        <!--<div class="col text-center">-->
        <!--  <div class="py-4">-->
        <!--    <h1 class="h3"><img src="image/passier.png" width="15%" height="15%" alt=""></h1>-->
        <!--    <p>Copyright &copy; 2018</p>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </footer>

  <!-- CONTACT MODAL -->
  <div class="modal fade text-dark" id="contactModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalTitle">Neem contact op</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Naam</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Bericht</label>
              <textarea class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="text-light btn btn-primary-custom btn-block">Verstuur</button>
        </div>
      </div>
    </div>
  </div>

    <!--Delay animation load fix-->
    <script>document.body.classList.add('js-loading');

window.addEventListener("load", showPage);

function showPage() {
  document.body.classList.remove('js-loading');
}</script>  
    
    
    <!--WOWJS-->
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
</body>
</html>
